<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="username" value="zubizuKupon31"/>
    <add key="password" value="213sd12334ds67yy"/>
    <add key="mainUrl" value="https://www.vidoix.com/"/>
    <add key="youtubeUrl" value="https://www.youtube.com/embed/"/>
  </appSettings>
</configuration>