<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="username" value="onurx75"/>
    <add key="password" value="3823232f0l"/>
    <!--<add key="username" value="galatasaray1999"/>
    <add key="password" value="atqx7hjkl"/>-->
    <add key="title" value="robocop-Main"/>
    <add key="isdebug" value="0"/>
  </appSettings>
</configuration>