<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="username" value="asiabeyy"/>
    <add key="password" value="123456tr"/>
    <add key="user" value="lum-customer-teknolojik-zone-static"></add>

    <add key="pass" value="hwwr4ni57dv5"></add>
  </appSettings>
</configuration>
